/* Links em Geral */
a {
    color: orangered;
    text-decoration: none;  /* Tira o sublinhado do link */
}

/* Links já visitados */

a:visited {
    color: green; /* brightness não é aplicável para "a:visited" */
    filter: brightness(50%); /* Cor 50% mais escura */
}

/* Link enquanto o mouse está sobre ele */

a:hover{
    color: orange; 
    filter: brightness(120%); /* Cor 20% mais brilhante */
    text-decoration: underline; /* Volta o sublinhado do link */
}