div.container {
    background-color: lightgray;
    font-family: Calibri, Arial, sans;
    padding: 20px; /* Espaçamento interno */
    border-left: 7px dotted black;
    border-right: 7px dashed rebeccapurple;
}

/* divs internas */
div.container div {
    border: 2px solid indigo;
    padding: 12px;
    margin-bottom: 16px; /* Apenas a margem inferior */
}

#box1 {
    background-color: palevioletred;
    /* Dois valores: o primeiro serve para top e bottom e o segundo para left e right */
    padding: 40px 30px;
}

#box2 {
    background-color: indianred;
    /* padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 8px; */
    padding: 30px 8px 25px 40px; /* <- Começa pelo top, right, bottom, left. / Seguindo sentido horário */
}

#box3 {
    background-color: lightcoral;
    margin-bottom: 0;
}