@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Definição de variáveis */

:root {
    --cor-primaria: #550000;
    --cor-secundaria: #FF7F2A;
    --cor-terciaria: #FFAF7B;
    --cor-fundo-clara: #DDDDDD;
    --cor-fundo-escura: #BBBBBB;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escura: #777777;
}

/* @import, quando existem, devem ser os primeiros itens de um arquivo CSS */

/* CSS Reset */

* { /* Todos os elementos */
    padding: 0;
    margin: 0;

    /* Exemplo de familia de fonte SEM serifa
    font-family: 'Calibri', 'Arial', sans; */

    /* Exemplo de familia de fonte COM serifa
    font-family: 'Times New Roman', Georgia, serif; */

    /* Exemplo de familia de fonte MONOESPAÇADA 
    font-family: Consolas, 'Courier New', monospace; */
 
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;
}
html {  /* Tamanho da fonte padrão do documento */
    font-size: 16px;
}
/* Cfg de todos os links do site */
a {
    color: var(--cor-primaria);
    text-decoration: none; /* Sem Sublinhado */
}

a:hover { /* Mouse passando encima do link */
    color: var(--cor-secundaria);
    text-decoration: underline; /* Volta o sublinhado */
}

header {
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav {
    background-color: var(--cor-secundaria); /* Cor do Fundo */
    color: var(--cor-texto-claro); /* Cor do Texto */
}

#content {
    background-color: var(--cor-fundo-clara);
    padding: 16px;
    /* Este elemento e seus filhos usarão flexbox */
    display: flex;
    flex-direction: row; /* Os filhos ficarão em linha */
}
main, aside{
    background-color: var(--cor-texto-claro);
    padding: 24px;
    margin-bottom: 20px;
    /* Bordas arredondas */ 
    border-radius: 10px;
    /* Sombra (drop-down shadow) */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1; /* Uma unidade de largura */
}
main {
    width: 75%;
}

aside {
    width: 25%;
    margin-left: 20px;
    background-color: var(--cor-fundo-escura);
}

aside > article > img {
    display: block;
    margin: 0 auto; /* Margin auto à esquerda e à direita centraliza o elemento quando este é display: block */
}

aside > article > h1 > a {
    font-size: 1rem;
    color: #000000;
}

main article, aside article { /* Article que estão dentro de um main, ou aside */
    margin: 24px 0; /* 24px top/bottom e 0 left/right */
}

main > h1, aside > h1 { /* Apenas os h1 que são filhos diretos de main ou aside */
    /* Deixar o texto em maiúsculas */
    text-transform: uppercase;
    color: var(--cor-secundaria);
}

article > h1 { /* Só os H1 que são filhos diretos de article */
        margin-bottom: 6px;
}

article > h1 > a {
    font-size: 1.5rem; /* 1.5x o tamanho da fonte do elemento raiz (HTML) */
}

article > p {
    color: var(--cor-texto-escura);
}

article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase; /* Todas as letras MAIÚSCULAS */
}

.destaque {
    background-color: var(--cor-terciaria);
    padding: 24px;
    border-radius: 6px; /* Bordas levemente arredondadas */
}

.destaque p {
    color: #000000;
    font-size: 1.5rem;
}

.destaque > h1 > a {
    font-size: 2.5rem;
}

.destaque > h2 {
    font-size: 1rem;
}

.destaque img {
    width: 450px;
    border-radius: 4px;
    margin-right: 24px;
}

.foto-texto {
    display: flex;
    flex-direction: row; /* Os filhos ficarão em linha */
}

footer {
    background-color: var(--cor-primaria);
    padding: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: space-around; /* Espaço automaticamente entre os itens de um flexbox*/   
}

footer a {
    color: #FFFFFF;
}

footer ul li {
    display: inline-block; /* Itens de uma lista na horizontal */ 
    padding: 0 16px;
    border-right: 1px solid #FFFFFF;
}