@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @import, quando existem, devem ser os primeiros itens de um arquivo CSS */

/* CSS Reset */

* { /* Todos os elementos */
    padding: 0;
    margin: 0;
    /* Exemplo de familia de fonte SEM serifa
    font-family: 'Calibri', 'Arial', sans; */

    /* Exemplo de familia de fonte COM serifa
    font-family: 'Times New Roman', Georgia, serif; */

    /* Exemplo de familia de fonte MONOESPAÇADA 
    font-family: Consolas, 'Courier New', monospace; */

    /* Família de fontes da web (webfonts) 
    font-family: Raleway, Calibri, Arial, sans; */
}

header {
    background-color: #550000;
    padding: 10px 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav {
    background-color: #FF7F2A; /* Cor do Fundo */
    color: white; /* Cor do Texto */
}